#satollo-header {
    text-align: left;
    background-color: #f4f4f4;
    padding: 5px;
    padding-left: 15px;
    border-radius: 3px;
    text-transform: uppercase;
}

#satollo-header a {
    margin-right: 15px;
}

p, p input, p textarea, p select {
    font-size: 11px;
}
p input {
    padding: 1px;
}
#wpcontent select {
    font-size: 11px;
    padding: 0px;
    margin: 0;
    height: auto;
    line-height: 12px;
}
h4 {
    font-size: 12px;
    margin-bottom: 0;
}
.submit {
    padding: 0;
}
